/* Imported Text Styles */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Sawarabi+Mincho&family=Source+Sans+Pro:wght@200&display=swap');

/*Every Page Styles*/
    main {
        max-width: 1400px;
        margin: 0 auto;
        margin-top: 100px;
    }

    body {
        margin: 0 auto;
        background-color: #FAF0CA;
        color: #333745;
    }

    .logo {
        width: 160px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    img {
        height: auto;
        max-width: 80%;
        margin: auto;
    }

    a {
        text-decoration: none;
    }

    li {
        margin: 10px 0;
    }

    .numbered-list {
        list-style-type: decimal;
    }

    /* YouTube Video Div */
    .youtube {
            display: grid;
            grid-template-rows: 1fr 5fr;
            padding-bottom: 50px;
    }

    .youtube h2 {
            grid-row: 1/2;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #333745;
    }

    #youtube-video {
            grid-row: 2/3;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
    }

/* Header Styles */
    header {
        background-color: #314245;
        display: grid;
        grid-template-columns: 20vw 80vw;
        grid-template-rows: 50px;
        z-index: 2;
        position: fixed;
        top: 0;
    }

    header img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav a {
        color: #FAF0CA;
        font-family: "Source Sans Pro";
        font-size: 20px;
        padding: 10px;
        transition: transform .2s;
    }

    nav a:hover {
        color: #314245;
        background-color: #F4D35E;
        border-radius: 10px;
        font-weight: 900;
        transform: scale(1.05);
        transition-timing-function: ease-in-out; /*Allows the animation to animate when mouse leaves hover as well as enter the hover*/
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }


/* Footer Styles */
    footer {
        background-color: #314245;
        display: grid;
        grid-template-columns: 300px 1fr 1fr 2fr;
        grid-template-rows: 50px;
    }

    #footer-site-plan {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FAF0CA;
        font-family: "Source Sans Pro";
        font-size: 20px;
        padding: 10px;
    }

    footer a img {
        display: flex;
    }

    #footer-linkedin {
        width: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FAF0CA;
        font-family: "Source Sans Pro";
        font-size: 16px;
    }

/* Home Page Styles */
    h1 {
        text-align: center;
        font-size: 72px;
        text-decoration-line: underline;
        margin: 50px auto 50px auto;
    }

    /* Welcome Blurb */
        .blurb-welcome {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 4fr 1fr;
            background-color: #e1d8b6;
            margin-left: 50px;
            margin-right: 50px;
            border: 10px ridge #8ec46e68;
        }

        .blurb-welcome img {
            grid-row: 1/3;
            grid-column: 1/2;
            border: 10px double #8ec46e;
        }

        #blurb-welcome-caption {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-row: 2/3;
            grid-column: 1/2;
            z-index: 1;
            font-size: 28px;
            margin-left: 75px;
            margin-right: 75px;
            background-color: #8ec46e;
            color: #333745;
        }

        #blurb-welcome-message {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 28px;
            margin-left: 25px;
            margin-right: 25px;
            color: #333745;
        }

        #blurb-welcome-disclaimer {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 2/3;
            color: red;
            font-size: 20px;
            margin-left: 25px;
            margin-right: 25px;
        }
    
    /* Definitions Div */
        .homepage-definitions {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-left: 100px;
            margin-right: 100px;
            column-gap: 100px;
        }

        .homepage-definitions-finance {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 5fr;
            background-color: #e1d8b6;
            border: 10px ridge #8ec46e68;
        }

        .homepage-definitions-budget {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 5fr;
            background-color: #e1d8b6;
            border: 10px ridge #8ec46e68;
        }

        .homepage-definitions h3 {
            display: flex;
            justify-content: center;
            text-decoration: underline;
        }

        .homepage-definitions p {
            display: flex;
            align-items: center;
            margin-left: 25px;
            margin-right: 25px;
            line-height: 25px;
            margin-top: 0;
        }

    /* Personal Finance Facts Div */
        .homepage-facts {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 50px;
            margin: 50px 100px 50px 100px;
        }
        
        .homepage-facts-container {
            position: relative;
        }

        .homepage-facts-img {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
            border: 10px double #8ec46e;
        }

        .homepage-facts-container:hover .homepage-facts-img {
            opacity: .3;
        }
        
        .homepage-facts-upper {
            transition: .5s ease;
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .homepage-facts-upper-text {
            background-color: #f4d45e;
            color: #333745;
            font-size: 16px;
            padding: 16px 32px;
        }

        .homepage-facts-container:hover .homepage-facts-upper {
            opacity: 0;
        }

        .homepage-facts-middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .homepage-facts-container:hover .homepage-facts-middle {
            opacity: 1;
        }

        .homepage-facts-text {
            background-color: #F4D35E;
            color: #333745;
            font-size: 16px;
            padding: 16px 32px;
        }        

/* Create Budget Styles */
        
    #gurus-header {
        font-size: 48px;
        text-align: center;
        color: #333745;
    }

    #gurus-text {
        font-size: 24px;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Financial Gurus Div */
        .gurus {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: .5fr 3fr .5fr .5fr;
            background-color: #e1d8b6;
            margin-left: 50px;
            margin-right: 50px;
            border: 10px ridge #8ec46e68;
        }

        #gurus-dave-header {
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: #333745;
        }

        #gurus-dave-img {
            grid-column: 1/2;
            grid-row: 2/3;
            border: 10px double #8ec46e;
        }

        #gurus-dave-text {
            grid-column: 1/2;
            grid-row: 3/4;
            display: flex;
            align-items: center;
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
        }

        #gurus-moneyguy-header {
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: #333745;
        }

        #gurus-moneyguy-img {
            grid-column: 2/3;
            grid-row: 2/3;
            border: 10px double #8ec46e;
        }

        #gurus-moneyguy-text {
            grid-column: 2/3;
            grid-row: 3/4;
            display: flex;
            align-items: center;
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
        }

        #gurus-graham-header {
            grid-column: 3/4;
            grid-row: 1/2;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: #333745;
        }

        #gurus-graham-img {
            grid-column: 3/4;
            grid-row: 2/3;
            border: 10px double #8ec46e;
        }

        #gurus-graham-text {
            grid-column: 3/4;
            grid-row: 3/4;
            display: flex;
            align-items: center;
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
        }

        #gurus-disclaimer {
            grid-column: 1/4;
            grid-row: 4/5;
            margin-left: 50px;
            margin-right: 50px;
            color: red;
            font-weight: bold;
        }

    /* Important Note Blurb */
        .create-important {
            border: 10px ridge red;
            margin: 25px 25px 25px 25px;
            padding-bottom: 10px;
            background-color: #F4D35E;
            text-align: center;
        }

        .create-important h2 {
            font-size: 32px;
        }

        .create-important p {
            font-size: 18px;
        }

    /* Create a Budget Div */
    #create-budget-header {
        font-size: 48px;
        text-align: center;
        color: #719d58;
    }

    .create-budget {
        margin-left: 50px;
        margin-right: 50px;
    }

    .create-budget-step-header {
        font-size: 24px;
        color: #98ca7d;
    }

    .tithing {
        font-weight: 900;
        text-decoration: underline;
    }

    .tithing:visited {
        color: inherit;
    }

    .create-concluding-div {
        color: #719d58;
        font-weight: bold;
        text-align: center;
        font-size: 28px;
        margin-left: 50px;
        margin-right: 50px;
    }
/* Budget Template Styles */
    /* Introduction Blurb */
    .budget-intro h2{
        font-size: 48px;
        text-align: center;
        color: #333745;
    }
    
    .budget-intro p {
        font-size: 24px;
        margin: 0 200px 0 200px;
        text-align: center;
    }

    .button-grid {
        display: flex;
        justify-content: center;
        margin: 50px 25% 25px 25%;
        padding: 25px;
        background-color: #e1d8b6;
        border: 10px ridge #8ec46e68;
    }

    .button {
        background-color: #f4d45e;
        color: #333745;
        font-size: 18px;
        padding: 15px 30px;
        border-radius: 5px;
    }

    .button:hover {
        background-color:#638b4c;
    }

    .button-grid a + a {
        margin-left: 50px;
    }

    /* Written Tutorial */
    .tutorial-header{
        font-size: 48px;
        text-decoration: underline;
        text-align: center;
        color: #719d58;
        margin-bottom: 2vh;
    }

    .written-tutorial {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 22px;
    }

    .written-tutorial-tab-header {
        font-size: 32px;
        color: #98ca7d;
    }

    .written-tutorial-concluding-div {
        color: #719d58;
        font-weight: bold;
        text-align: center;
        font-size: 28px;
        margin-left: 50px;
        margin-right: 50px;
    }

        /* Dashboard Grid */
        .dashboard-grid {
            display: grid;
            grid-auto-rows: minmax(min-content, max-content);
            grid-auto-columns: minmax(min-content, max-content);
        }

        #dashboard-grid-img1 {
            grid-row: 1/2;
            grid-column: 1/4;
        }

        #dashboard-grid-img2 {
            grid-row: 3/4;
            grid-column: 1/2;
            margin-bottom: -.75vw;
        }

        #dashboard-grid-img3 {
            grid-row: 3/4;
            grid-column: 3/4;
        }

        #dashboard-grid-text1 {
            grid-row: 2/3;
            grid-column: 1/4;
        }

        #dashboard-grid-text2 {
            grid-row: 3/4;
            grid-column: 2/3;
            align-self: center;
        }

        /* Transaction History Grid */
        .transaction-grid {
            display: grid;
            grid-auto-columns: minmax(min-content, max-content);
            grid-auto-rows: minmax(min-content, max-content);
        }

        #transaction-grid-img2 {
            grid-row: 1/2;
            grid-column: 1/2;
        }

        #transaction-grid-img3 {
            grid-row: 2/3;
            grid-column: 1/2;
        }

        #transaction-grid-img4 {
            grid-row: 2/3;
            grid-column: 3/4;
            /* margin-top: -250px; */
        }

        #transaction-grid-text1 {
            grid-row: 1/2;
            grid-column: 2/4;
        }

        #transaction-grid-text2 {
            grid-row: 2/3;
            grid-column: 2/3;
            /* margin-top: -300px; */
        }

        /* Budget and Data Grid */
        .budget-and-data-grid {
            display: grid;
            grid-auto-columns: minmax(min-content, max-content);
            grid-auto-rows: minmax(min-content, max-content);
        }

        #budget-tab-header {
            grid-row: 1/2;
            grid-column: 1/2;
        }

        #budget-grid-img {
            grid-row: 2/4;
            grid-column: 1/2;
            max-width: 20vw;
            margin: 1vw 0 0 0;
        }

        #budget-grid-text {
            grid-row: 2/4;
            grid-column: 2/3;
            margin: 0 2vw 0 2vw;
            align-self: center;
            line-height: 25px;
        }

        #data-tab-header {
            grid-row: 1/2;
            grid-column: 3/4;
        }

        #data-grid-img {
            grid-row: 2/3;
            grid-column: 3/4;
        }

        #data-grid-text {
            grid-row: 3/4;
            grid-column: 3/4;
        }

        /* Savings Grid */
        .savings-grid {
            display: grid;
            grid-auto-columns: minmax(min-content, max-content);
            grid-auto-rows: minmax(min-content, max-content);
            justify-content: center;
        }

        #savings-grid-img1 {
            grid-row: 3/4;
            grid-column: 1/2;
        }

        #savings-grid-img2 {
            grid-row: 3/4;
            grid-column: 2/3;
        }

        #savings-grid-img3 {
            grid-row: 1/2;
            grid-column: 1/3;
        }

        #savings-grid-text {
            grid-row: 2/3;
            grid-column: 1/3;
            margin: 2vw 0 2vw 0;
        }

        /* Example Grid */
        .example-grid {
            display: grid;
            grid-auto-columns: minmax(min-content, max-content);
            grid-auto-rows: minmax(min-content, max-content);
        }

        #example-grid-img1 {
            grid-row: 1/2;
            grid-column: 1/2;
            max-width: 20vw;
        }

        #example-grid-img2 {
            grid-row: 1/2;
            grid-column: 2/3;
            max-width: 45vw;
        }

        #example-grid-img3 {
            grid-row: 3/4;
            grid-column: 2/3;
            max-width: 45vw;
        }

        #example-grid-img4 {
            grid-row: 3/4;
            grid-column: 1/2;
            max-width: 15vw;
        }

        #example-grid-text {
            grid-row: 2/3;
            grid-column: 1/3;
        }

    /* Concluding Blurb */